/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/



/*********************
HEADER STYLES
*********************/


.header-image {

	h1 {
		font-size: 250%;
		left: auto;
	}
}

/*********************
NAVIGATION STYLES
*********************/

#nav {

	p {

		&:before, &:after {


				@include sprite-bg('info_spiral', 0, 0, false);
				display: inline-block;
				height: 0.7em;
				margin: 0 0.6em;
				width: 0.7em;
			content: "";
			
		}

	}


} /* end .nav */

/*********************
POSTS & CONTENT STYLES
*********************/


/* entry content */
.entry-content {		

	p {
		width: $tencol;
		@include auto-margin;
		margin-bottom: 1.6em;


	}

	p.byline {
			width: $twelvecol;
		}
			
} /* end .entry-content */

.entry-content .bio-content {
		width: $tencol;
	}

.bio-left, .bio-right {

	width: $sixcol;

	li {
		margin-right: 2%;
		width: $twelvecol;
	}
}

/******************************************************************
COMMENT STYLES
******************************************************************/

ol.commentlist, .respond-form {
	width: $tencol;
	@include auto-margin;
}

#comments-content {
	max-width: 1000px;
	width: $elevencol;

	h3 {
		width: $tencol;
	}
}





/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


/*********************
FOOTER STYLES
*********************/

#inner-footer {
	max-width: 1000px;
	width: $twelvecol;

a{
			border-bottom: none;
			color: $tan;
			float: left;

			&:hover {
				color: $white;
			}
		}

}

ul.footer-nav {
	float: left;
	padding-left: 1.6em;
	width: $sixcol;

	li {
		float: left;

	}
}

ul.footer-nav li:after {
	content: "\00a0 /\00a0";
}

ul.footer-nav li:nth-child(3) {
	&:after {
		content:"\00a0";
		}
}

ul.subscribe-links {
	float: right;
	margin-bottom: 1.4em;
	margin-top: 0;
	padding-right: 1.6em;
	text-align: right;
	width: $sixcol;

	li {
		display: inline-block;
		margin: 1.9em 0 0;
	}

	a {
	float: none;
	}
}

ul.subscribe-links li:before {
	content: "\00a0 /";
}

ul.subscribe-links li:nth-child(2) {
	&:before {
		content:"\00a0";
	}
}