/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.header-image {

	h1 {

		/*&:before, &:after {
			content: "";
			display: inline-block;
			height: 0.6em;
			@include sprite-bg('page_title_spiral', 0, 0, false);
			margin: 0 0.4em;
			width: 0.4em;
		}	*/

	}
}

