/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.6;
	color: $darkgrey;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	@include auto-margin;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;
	border-bottom: 1px solid $tan;
	text-decoration: none;
	@include transition(all 0.3s ease-out);

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}


	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/


	#logo {
		margin-top: 1.7em;

		a {
			@include sprite-bg('logo_small', 0, 0, false);
			border-bottom: none;
			display: block;
			//float: left;
			height: 2.7em;
			@include auto-margin;
			text-indent: -10000px;
			width: 8.125em; // 130px/16px
		}
	}

.header-image {
	margin-bottom: 2.7em;
	position: relative;

	img {
		height: auto;
		width: 100%;
	}

	h1 {
		background: rgba(0,0,0,0.30);
		bottom: 8px;
		color: #fff;
		font-size: 150%;
		left: auto;
		letter-spacing: 0.05em;
		margin-bottom: 0;
		padding: 0.55em 0;
		position: absolute;	
		right: auto;	
		text-align: center;
		text-shadow: 0 0 20px rgba(0,0,0,0.125);
		text-transform: uppercase;
		white-space: nowrap;	
		width: 100%;

	}
}



/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#nav {
	background: $white;
	text-align: center;

	ul{
		background: $white;
		margin: 0;
  		padding: 0;
		width: 100%;
		display: block;
		list-style: none;
		opacity: 0.9;
		text-align: center;

		li {
			display: inline-block;

			a {
				border-bottom: none;
				color: $darkgrey;
				display: inline-block;
				float: left;
				font-family: $sans-serif;
				font-weight: 700;
				text-decoration: none;
				padding: 1.6em 0.4em 0.8em;
				background-color: $white;
				text-transform: uppercase;

				/*
				remember this is for mobile ONLY, so there's no need
				to even declare hover styles here, you can do it in
				the style.scss file where it's relevant. We want to
				keep this file as small as possible!
				*/
				
			}


			/*
			so you really have to rethink your dropdowns for mobile.
			you don't want to have it expand too much because the
			screen is so small. How you manage your menu should
			depend on the project. Here's some great info on it:
			http://www.alistapart.com/articles/organizing-mobile/
			*/
			ul.sub-menu,
			ul.children {

				li {

					a {
						padding-left: 30px;


					}

				}

			}

		} /* end .menu li */


	} /* end .menu ul */

	p {
		color: $midgrey;
		display: inline-block;
		font-size: 87.5%;
		font-style: italic;
		margin: 1em auto 1em;
		text-align: center;
	
	}
	

} /* end .nav */

#menu-main-menu.stuck {
  	position: fixed;
  	top: 0;
  	z-index: 9999;
}



/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 0.8em;
}

		/* post meta */
		.byline {
			
			color: $lightgrey;
			display: inline-block;
			@include auto-margin;
			margin-top: 1.1em;
			text-align: center;
			width: 100%;

			span.info-divider {

				@include sprite-bg('info_spiral', 0, 0, false);
				display: inline-block;
				height: 0.7em;
				margin: 0 0.5em;
				width: 0.7em;

			}

			time, span.comments-link {
				display: inline-block;
				/*width: 40%;*/
			}

			time {
				/*margin-right: 1em;*/
				text-align: right;
			}

			span.comments-link {
				/*margin-left: 1em;*/
				text-align: left;
			}



		}

		/* entry content */
		.entry-content {
				@include auto-margin;
				margin-top: 1.6em;
				margin-bottom: 3.2em;
				width: $elevencol;
			p {
				margin: 0;
				margin-bottom: 1.6em;
				&:first-child{

					&:first-letter {
						float: left; 
						color: $tan; 
						font-size: 387.5%; 
						line-height: 0.45em;
						padding: 0.2em 0.1em 0 0;					
					}
				}
			}

			li {
				list-style: none;
			}


			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */


		/* archive page styles */

		a {
			h2.archive-title {
				color: $darkgrey;
				font-size: 162.5%;
				font-weight: 700;
				margin: 1.2em auto 0.25em;
				text-align: center;
				width: $elevencol;
				@include transition(all 0.3s ease-out);
			
				&:hover {
					color: $tan;
				}
			}
		}

		.entry-content {

			p {
				margin-bottom: 1.55em;


			}

			p.archive-date {
				color: $midgrey;
				font-style: italic;
				text-align: center;
				width: $elevencol;

		}
	}

	.entry-content li.archive-listing p:nth-of-type(2) {
		margin-bottom: 1.55em;
	}

	/* our story page styles */	

	.entry-content .bio-content {
		width: $twelvecol;
		@include auto-margin;
	}
		

.bio-left, .bio-right {
	float: left;
	margin: 0;
	width: $twelvecol;


	ul {
		margin: 0;
	}

	li {
		float: left;
		width: 100%;
	}

	img {
		-webkit-border-radius: 50%; 
        border-radius: 50%;
		float: right;
		/*margin: 0 2.35% 2.35% 0;*/
		margin: 0 0 2.4% 2.4%;	
	}	

	h3 {
		float: left;
		font-family: $serif;
		font-weight: 700;
		margin: 0;
		width: $twelvecol;
	}

	p.bio-text {
		color: $lightgrey;
		font-size: 87.5%;
		width: $twelvecol;
	}
}

.bio-right {
	float: right;

}

.entry-content .story-content {
	float: left;
	margin: 0 auto;
	width: $twelvecol;

	p {
		width: 100%;
	}
}




	/* end our story */


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navi-links {
	display: block;
	position: relative;
	width: $twelvecol;
	z-index: 999;

		a {
		background-color: $tan;
		border-bottom: 0px;
		color: $white;
		display: inline-block;
		float: left;
		font-size: 0.875em;
		margin-top: 1.7em;
		padding: 1.02em;
		text-align: right;
		width: 50%;

		&:nth-child(2) {
			border-left: 1px solid white;
			text-align: left;
		}

		&:hover {
			background-color: $midgrey;
		}

	}
} 

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;


		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}



	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

.comments-block {
	display: none;
}

/* h3 comment title */
#comments-content {
	width: $elevencol; 
	@include auto-margin;

}

h3#comments {
		font-weight: 700;
		margin: 1.6em auto 0;
	}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-top: 0;
		padding-bottom: 0;
	}


	/* vcard */
	.vcard {

		cite.fn {
			display: block;
			font-weight: 700;
			font-style: normal;

			a {
				color: $darkgrey;

				&:hover {
					color: $tan;
				}
			}

		}

		time {
			display: block;
			float: left;
			font-size: 87.5%;
			margin-top: 0.2em;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					color: $tan;
				}

			}

		}

		img.avatar {
			border-radius: 50%;
			display: none;
			float: left;
			height: auto;
			margin-left: 17%;
			margin-right: 2%;
			width: 6.5%;
		}

	} /* end .commentlist .vcard */


	/* comment content */
	.comment_content {
		

		p {
			display: block;
			float: left;
			font-size: 1em;
			margin: 0.1em $threecol 1.6em 0;
			line-height: 1.5em;
			width: $twelvecol;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	padding-bottom: 2.2em;
	width: $twelvecol;
	@include auto-margin;

	form {
		margin: 0.75em 0;

		ul {
			margin-bottom: 0;
		}

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0;

			label,
			small {
				display: none;
			}
		}

		p {
			margin: 0;
		}

		::-webkit-input-placeholder {
   			color: $darkgrey;
		}

		:-moz-placeholder { /* Firefox 18- */
  			color: $darkgrey;
		}

		::-moz-placeholder {  /* Firefox 19+ */
   			color: $darkgrey;
		}

		:-ms-input-placeholder {  
   			color: $darkgrey;
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			background: $white;
			border: 1px solid #bdbdbd;
			color: $darkgrey;
			font-family: $serif;
			font-size: 87.5%;
			font-style: italic;
			line-height: 1.5em;
			margin-bottom: 1.75em;
			padding: 1em;
			width: 100%;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			/*max-width: 400px;*/
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 100%%;
			height: 150px;
		}

	}
}


	/* comment form title */
	#comment-form-title {
		font-weight: 700;
		margin: 0.6em 0;
		width: $twelvecol;
	}


	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}


/*********************
FOOTER STYLES
*********************/

.footer {
	background: $darkgrey;
	clear: both;
	color: $white;
	font-family: $sans-serif;
	font-size: 87.5%;
	font-weight: 400;

a{
			border-bottom: none;
			color: $tan;
			float: left;

			&:hover {
				color: $white;
			}
		}

}

ul.footer-nav {
	max-width: 1000px;
	text-align: center;
	width: 100%;
	@include auto-margin;

	li {
		display: inline-block;
		margin: 1.9em 0;

	}
}

ul.footer-nav li:after {
	content: "\00a0 /";
}

ul.footer-nav li:nth-child(3) {
	&:after {
		content:"\00a0";
		}
}

ul.subscribe-links {
	text-align: center;
	@include auto-margin;
	margin-bottom: 1.9em;
	margin: 0.2em auto 1.9em;

	li {
		display: block;
		margin-bottom: 0.3em;
	}

	a {
	float: none;
	}
}

